body {
    display: block;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    object-fit: fill;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-align: left;
    font-style: normal;
    text-decoration: none;
    background-color: #eceae5;
}

.page_wrapper, .main_wrapper {
    display: block;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    object-fit: fill;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-align: left;
    font-style: normal;
    text-decoration: none;
    position: static;
    background-color: transparent;
}

.load_grid {
    display: none;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items:stretch;
    justify-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
    object-fit: fill;
    z-index: 100;    
}

.load_grid_item {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #eb0000;
    /* border-radius: 15px; */
}

.section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: end;
    flex-wrap: wrap;
    padding-bottom: 1em;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: fill;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-style: normal;
    text-decoration: none;
    position: static;
    background-color: transparent;
}

.container {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    object-fit: fill;
}

button {
    flex-shrink: 1;
    padding: 0.5rem 1rem 0.4rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1rem;
    color: black;
    position: static;
    letter-spacing: -0.02rem;
    border-radius: 100rem;
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    background-color: transparent;
}

h1 {
    position: static;
    overflow: visible;
    font-size: 23.2em;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 5.25rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-style: normal;
}